<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://localhost:3989/login/css">
    <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="background-color: lightsteelblue">
    <nav class="navbar navbar-dark bg-dark ">
        <ul class="navbar-nav" style="display:inline-block">
                <li class="nav-item " style="display:inline-block;margin-right: 40px">
                        <a class="nav-link" href="/myacc">MY ACCOUNT</a>
                </li>
                <li class="nav-item active" style="display:inline-block;margin-right: 40px">
                        <a class="nav-link" href="/dashboard">Dashboard<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item " style="display:inline-block;margin-right: 40px">
                  <a class="nav-link" href="/show_emp">Show Employees </a>
                </li>
                <li class="nav-item" style="display:inline-block;margin-right: 40px">
                  <a class="nav-link" href="/add_emp">Add Employees</a>
                </li>
                <li class="nav-item " style="display:inline-block;margin-right: 40px;font-size: 18px">
                    <a class="nav-link" href="/salary">Salary Calculator </a>
                  </li>
                </li>
                <li class="nav-item " style="display:inline-block;margin-right: 40px;font-size: 18px">
                    <a class="nav-link" href="/data">Salary Analysis </a>
                </li>
                <li class="nav-item"style="display:inline-block;margin-right: 40px">
                  <a class="nav-link" href="/logout">LOGOUT</a>
                </li>
                
              </ul><br>
</nav><br>

<div id="Dash">
    <h2 class="text-center">DASHBOARD</h2><br>
    <h3>HI , Welcome !</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</body>
<script>
    const log=new Vue({
      el:"#Dash",
      data:{
         
      },
      created:function(){
               this.load();
      },
      methods:{
            load:function(){
                   var app=this;
                   axios.get('http://localhost:3989/dashboard/info')
                   .then(function(Response){
                   })
                },
      } 
    })
</script>
</html>